.net-worth-label {
  margin-left: 1em;
  color: #28a745!important;
}

mat-card {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
