<mat-card>
  <mat-card-title>Net Worth:<label class="net-worth-label">{{netWorth|currency}}</label></mat-card-title>
  <mat-card-content>
    <section>
      <label class="example-margin">Data for the last:</label>
      <mat-radio-group [(ngModel)]="period">
        <mat-radio-button class="example-margin" (change)="setChartForPeriod(11)" value="week">Week</mat-radio-button>
        <mat-radio-button class="example-margin" (change)="setChartForPeriod(34)" value="month">Month</mat-radio-button>
        <mat-radio-button class="example-margin" (change)="setChartForPeriod(90)" value="quarter">Quarter
        </mat-radio-button>
        <mat-radio-button class="example-margin" (change)="setChartForPeriod(365)" value="year">Year</mat-radio-button>
      </mat-radio-group>
    </section>
    <section>
      <div echarts [options]="options" [loading]="isLoading" (chartInit)="onChartInit($event)" theme="macarons"
           class="demo-chart"></div>
    </section>
  </mat-card-content>
</mat-card>


