.navbar {
  padding: 10px 0px;
}

.nav-left-sidebar .navbar {
  position: relative;
  padding: 14px;
}
.nav-left-sidebar .navbar-nav {
  width: 100%;
}

.nav-divider {
  width: 300px;
  padding: 0px 10px;
  line-height: 30px;
  font-weight: 600;
  font-size: 14px;
}

.nav-item {
  width: 300px;
  padding: 0px;
  line-height: 40px;
  font-weight: 600;
  font-size: 14px;
}

.nav-link {
  color: white;
  background-color: #343a40;
  padding: 0px 10px;
}

.submenu .nav-item {
  padding: 0px 10px;
  background-color: #fff;
  color: black;
  border-bottom: 1px solid silver;
  font-family: SansSerif;
}

.submenu .nav-item .first-line{
  width: 268px;
  padding: 0px;
  line-height: 30px;
}
.submenu .nav-item .second-line{
  width: 268px;
  padding: 0px;
  font-size: 12px;
  color: #686972;
  line-height: 30px;
}

.submenu .nav-item .portfolio-name{
  font-size: 16px;
  color: #5969ff;
}

