<mat-card>
  <mat-card-title>Cash Flow</mat-card-title>
  <mat-card-content>
    <section>
      <label class="example-margin">Data for the last:</label>
      <mat-radio-group [(ngModel)]="period">
        <mat-radio-button class="example-margin" (change)="setChartForPeriod(11)" value="week">Week</mat-radio-button>
        <mat-radio-button class="example-margin" (change)="setChartForPeriod(34)" value="month">Month</mat-radio-button>
        <mat-radio-button class="example-margin" (change)="setChartForPeriod(90)" value="quarter">Quarter
        </mat-radio-button>
        <mat-radio-button class="example-margin" (change)="setChartForPeriod(365)" value="year">Year</mat-radio-button>
      </mat-radio-group>
    </section>
    <section>
      <div echarts [options]="incomePieOptions" (chartInit)="incomeChartInit($event)" [loading]="isLoading"class="demo-chart" class="income-chart"></div>
      <div echarts [options]="spendingPieOptions" (chartInit)="spendingChartInit($event)" [loading]="isLoading"class="demo-chart" class="income-chart"></div>
    </section>
  </mat-card-content>
</mat-card>
