<mat-card>
  <mat-card-title>Cash Flow<label class="cash-flow-label">{{totalSpending + totalIncome|currency}}</label>
  </mat-card-title>
  <mat-card-content>
    <section>
      <label class="example-margin">Data for the last:</label>
      <mat-radio-group [(ngModel)]="period">
        <mat-radio-button class="example-margin" (change)="setChartForPeriod(11)" value="week">Week</mat-radio-button>
        <mat-radio-button class="example-margin" (change)="setChartForPeriod(34)" value="month">Month</mat-radio-button>
        <mat-radio-button class="example-margin" (change)="setChartForPeriod(90)" value="quarter">Quarter
        </mat-radio-button>
        <mat-radio-button class="example-margin" (change)="setChartForPeriod(365)" value="year">Year</mat-radio-button>
      </mat-radio-group>
    </section>
    <section class="center">
      <mat-card class="cash-flow-chart">
        <div echarts [options]="incomePieOptions" (chartInit)="incomeChartInit($event)" [loading]="isLoading"></div>
        <mat-card-title><label class="cash-flow-chart-label">{{totalIncome|currency}}</label></mat-card-title>
      </mat-card>
      <mat-card class="cash-flow-chart">
        <div echarts [options]="spendingPieOptions" (chartInit)="spendingChartInit($event)" [loading]="isLoading"></div>
        <mat-card-title><label class="cash-flow-chart-label">{{totalSpending|currency}}</label></mat-card-title>
      </mat-card>
    </section>
  </mat-card-content>
</mat-card>
